.nav-scroll{
    /* position: absolute; */
    /* border: solid red 2px; */
    display: flex;
    flex-direction: row;
    gap: 25px;
    top:0;
    left:0;
    width: 95%;
    height: fit-content;
    margin: 20px 0 0 25px;
  
  }
  
.nav-link{
    text-decoration: none;
    font-size:1.3em ;
    color:rgb(255, 217, 235);
    position: relative;
    /* border: solid 1px black; */
  
  }

  
  .nav-link.active{
    color:rgb(255, 13, 134);
  }
  
  .external-links{
    display: flex;
    flex-direction: row;
    gap: 25px;
    /* border: solid 1px black; */
    margin-right:0px;
    margin-left: auto;
    color:rgb(255, 13, 134);

  
  }
/* .nav-link::before{
    position: absolute;
    content:'';
    border-radius: 50%;
    border: solid 1px rgb(255, 13, 134); 
    background-color: rgb(255, 13, 134);
    width: 2px;
    height: 2px;
    top: 50%;
    transform: translate(-140%,-50%);
    
    display: none;
    
  
  } */
  .nav-link:hover::before,
  .nav-link:focus::before {
      display: block; 
  }
  
  .nav-link.active::before {
      display: block; /* Show the circle for the active link */
  }